<div style="background-color: black">
<div class="row">
<div class="column"><p></p><h1 style="color: white">Compania de jocuri video Nintendo</h1>
<p style="color: white">Nintendo e o companie multinationala de jocuri video, cu sediul central in Kyoto, Japonia. Creeaza jocuri video si console de jocuri video.
  Nintendo are mai multe filiale în Japonia și în străinătate, pe lângă parteneri de afaceri precum Pokémon Company și HAL Laboratory.
  Nintendo și personalul său au primit premii, inclusiv Emmy Awards for Technology & Engineering, Game Awards, Game Awards, Game Developers Choice Awards și British Academy Games Awards. Este una dintre cele mai bogate și mai valoroase companii de pe piața japoneză.
<p></p><a href="https://en.wikipedia.org/wiki/Nintendo"><button style="color: black">Learn more about Nintendo</button></a><p></p></div>
<img align="middle" src="https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/others_3/SI_GenericNintendo_image1280w.jpg"no-repeat/>
</div></div>
