<div class="row">
<div class="column"><mat-card align="center" style="background-color: gray"><p></p><h2 style="color: white">Consola de jocuri video</h2><p></p>
  <mat-card-content> <h3 style="color: white"><p>Nume: A</p><p>Data lansarii: 2002</p></h3>
  <a href="https://en.wikipedia.org/wiki/Nintendo_video_game_consoles"><button style="color:white; background-color: black">Learn more about their consoles</button></a>
  </mat-card-content></mat-card></div>
<div class="column"><mat-card align="center" style="background-color: gray"><p></p><h2 style="color: white">Consola de jocuri video</h2><p></p>
  <mat-card-content><h3 style="color: white"><p>Nume: B</p><p>Data lansarii: 2006</p></h3>
  <a href="https://en.wikipedia.org/wiki/Nintendo_video_game_consoles"><button style="color:white; background-color: black">Learn more about their consoles</button></a>
  </mat-card-content></mat-card></div>
<div class="column"><mat-card align="center" style="background-color: gray"><p></p><h2 style="color: white">Consola de jocuri video</h2><p></p>
  <mat-card-content><h3 style="color: white"><p>Nume: C</p><p>Data lansarii: 2010</p></h3>
  <a href="https://en.wikipedia.org/wiki/Nintendo_video_game_consoles"><button style="color:white; background-color: black">Learn more about their consoles</button></a>
  </mat-card-content></mat-card></div><p></p></div>
